.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url(img/cursor.png), auto;
}

#title {
    position: fixed;
    top: -16px;
    right: 1750px;
	text-shadow: 3px 2px 5px #000;
}